// Between each 1111, the output of an operation will be present.

push constant 1111
push constant 0
push constant 0
and

push constant 1111
push constant 0
push constant 12
and

push constant 1111
push constant 13
push constant 0
and

push constant 1111
push constant 1
push constant 1
and

push constant 1111

// answer - 0, 0, 0, 1
