function Snake.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
push constant 0
push constant 0
call SnakeCell.new 4
pop this 0
push argument 0
push argument 1
push this 0
push constant 0
call SnakeCell.new 4
pop local 0
push argument 0
push argument 1
push local 0
push constant 0
call SnakeCell.new 4
pop this 1
push constant 2
pop this 2
push this 0
push constant 2
call SnakeCell.moveNextPosition 2
pop temp 0
push this 0
push constant 2
call SnakeCell.moveNextPosition 2
pop temp 0
push local 0
push constant 2
call SnakeCell.moveNextPosition 2
pop temp 0
push pointer 0
call Snake.toggle 1
pop temp 0
push pointer 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 1
call SnakeCell.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.updateDirection 1
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 2
label IF_FALSE0
push constant 0
return
function Snake.move 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Snake.updateDirection 2
pop temp 0
push this 1
pop local 0
push this 1
call SnakeCell.toggle 1
pop temp 0
push this 1
call SnakeCell.getNext 1
pop this 1
push local 0
push constant 0
call SnakeCell.setNext 2
pop temp 0
push local 0
push this 0
call SnakeCell.getX 1
call SnakeCell.setX 2
pop temp 0
push local 0
push this 0
call SnakeCell.getY 1
call SnakeCell.setY 2
pop temp 0
push local 0
push this 2
call SnakeCell.moveNextPosition 2
pop temp 0
push this 0
push local 0
call SnakeCell.setNext 2
pop temp 0
push local 0
pop this 0
push this 0
call SnakeCell.toggle 1
pop temp 0
push constant 0
return
function Snake.touchedFood 0
push argument 0
pop pointer 0
push this 0
push argument 1
call SnakeCell.sameAs 2
return
function Snake.eatFood 0
push argument 0
pop pointer 0
push this 0
push argument 1
call SnakeCell.setNext 2
pop temp 0
push argument 1
pop this 0
push this 0
push this 2
call SnakeCell.moveNextPosition 2
pop temp 0
push this 0
push constant 0
not
call SnakeCell.setVisible 2
pop temp 0
push this 0
call SnakeCell.draw 1
pop temp 0
push constant 0
return
function Snake.eatSelf 1
push argument 0
pop pointer 0
push this 1
pop local 0
label WHILE_EXP0
push local 0
push this 0
eq
not
not
if-goto WHILE_END0
push local 0
push this 0
call SnakeCell.sameAs 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
call SnakeCell.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.hitWall 2
push argument 0
pop pointer 0
push this 0
call SnakeCell.getX 1
pop local 0
push this 0
call SnakeCell.getY 1
pop local 1
push local 0
push constant 0
gt
push local 1
push constant 0
gt
and
push local 0
push constant 497
lt
and
push local 1
push constant 241
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
not
return
function Snake.toggle 1
push argument 0
pop pointer 0
push this 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call SnakeCell.toggle 1
pop temp 0
push local 0
call SnakeCell.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.getHead 0
push argument 0
pop pointer 0
push this 0
return
