function SnakeGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 32
push constant 32
call Snake.new 2
pop this 0
push constant 46
call LCGRandom.setSeed 1
pop temp 0
push pointer 0
call SnakeGame.newFood 1
pop this 1
push pointer 0
return
function SnakeGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Snake.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SnakeGame.newFood 2
push argument 0
pop pointer 0
push constant 0
push constant 32
call LCGRandom.randRange 2
push constant 16
call Math.multiply 2
pop local 0
push constant 0
push constant 16
call LCGRandom.randRange 2
push constant 16
call Math.multiply 2
pop local 1
push local 0
push local 1
push constant 0
push constant 0
not
call SnakeCell.new 4
return
function SnakeGame.quitBoard 0
push argument 0
pop pointer 0
push this 0
push this 1
call Snake.touchedFood 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
call Snake.eatFood 2
pop temp 0
push pointer 0
call SnakeGame.newFood 1
pop this 1
push constant 0
return
label IF_FALSE0
push this 0
call Snake.eatSelf 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push this 0
call Snake.hitWall 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
push constant 0
return
function SnakeGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 2
neg
pop this 2
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 2
label IF_FALSE1
push local 0
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
pop this 2
label IF_FALSE2
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
pop this 2
label IF_FALSE3
push local 0
push constant 130
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 2
neg
pop this 2
label IF_FALSE4
push local 0
push constant 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call LCGRandom.setSeed 1
pop temp 0
label IF_FALSE5
push this 0
push this 2
call Snake.move 2
pop temp 0
push this 1
call SnakeCell.toggle 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push pointer 0
call SnakeGame.quitBoard 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 8
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
label IF_FALSE6
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
