function SnakeCell.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 4
push constant 14
pop this 5
push constant 2
pop this 6
push argument 3
pop this 3
push constant 0
pop this 2
push pointer 0
return
function SnakeCell.draw 0
push argument 0
pop pointer 0
push this 2
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 5
add
push this 1
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function SnakeCell.toggle 0
push argument 0
pop pointer 0
push this 2
not
pop this 2
push pointer 0
call SnakeCell.draw 1
pop temp 0
push constant 0
return
function SnakeCell.sameAs 0
push argument 0
pop pointer 0
push this 0
push argument 1
call SnakeCell.getX 1
eq
push this 1
and
push argument 1
call SnakeCell.getY 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function SnakeCell.moveNextPosition 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 5
sub
push this 6
sub
pop this 1
label IF_FALSE0
push argument 1
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push this 5
add
push this 6
add
pop this 1
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 5
add
push this 6
add
pop this 0
label IF_FALSE2
push argument 1
push constant 2
neg
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push this 5
sub
push this 6
sub
pop this 0
label IF_FALSE3
push constant 0
return
function SnakeCell.dispose 0
push argument 0
pop pointer 0
push this 4
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
call SnakeCell.dispose 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SnakeCell.getX 0
push argument 0
pop pointer 0
push this 0
return
function SnakeCell.getY 0
push argument 0
pop pointer 0
push this 1
return
function SnakeCell.getNext 0
push argument 0
pop pointer 0
push this 4
return
function SnakeCell.getvisible 0
push argument 0
pop pointer 0
push this 2
return
function SnakeCell.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function SnakeCell.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function SnakeCell.setNext 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function SnakeCell.setVisible 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
